[user]
	email = 151170580+birugh@users.noreply.github.com 
  name = birugh

[init]
	defaultBranch = main
[pull]
    rebase = true
[push]
  autoSetupRemote = true

[core]
  editor = nvim
  pager = delta

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
  conflictStyle = zdiff3

[alias]
    st = status
    co = checkout
  lg = log --oneline --graph --decorate

[include]
  path = ~/.gitconfig.local

[include]
  path = ~/sora.gitconfig
